@charset "UTF-8";

/*
    CSS Archive by: @arthurferreira-dev
    LICENSE: MIT License
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /* Montserrat by: Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sunuwar&display=swap'); /* Noto Sans Sunuwar by: Google Fonts */

:root {
    --montserrat: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
    --sunuwar-sans: 'Noto Sans Sunuwar', Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--montserrat);
    background-color: #d2d2d2;
    height: 100%;
    width: 100%;
    font-size: 1em;
    color: #000;
}

header {
    text-align: center;
    line-height: 2.40em;
    padding: 6px;
}

h1#title {
    font-size: 2.3em;
}

h2#sub-title {
    font-size: 1.2em;
}

main {
    background-color: #fff;
}

section#timer > h2#timers {
    font-family: var(--sunuwar-sans);
    text-align: center;
    border: 1px solid #000;
    width: calc(111*2px);
    margin: auto;
}

a {
    text-decoration: none;
    transition-duration: .40s;
}

a:hover {
    text-decoration: underline;
}

button {
    display: block;
    margin: auto;
    padding: 6.5px;
    font-size: 0.9em;
    border: 1px solid #000;
    border-radius: 6.5px;
    transition-duration: .40s;
}

button#start {
    background-color: #6d29ec;
    border: 1px solid #6d29ec;
    color: #fff;
    margin-top: 12px;
}

button#start:hover {
    background-color: #6726df;
    border: 1px solid #6726df;
}

button#reload {
    background-color: #da7025;
    border: 1px solid #da7025;
    color: #fff;
    margin-top: 12px;
}

button#reload:hover {
    background-color: #c46420;
    border: 1px solid #c46420;
}

button#stop {
    background-color: #e71616;
    border: 1px solid #e71616;
    color: #fff;
    margin-top: 12px;
}

button#stop:hover {
    background-color: #d61313;
    border: 1px solid #d61313;
}